{% extends "layout.html" %}

{% block content %}
  <div >
    <div class="col-sm title">
      <h1 >Tom Hanks</h1>
    </div>
    <div class="row intro ">
      <div class="col-sm-8 main-paragraph">
        <p>&nbsp; &nbsp; Thomas Jeffrey Hanks was born in Concord, California, to Janet Marylyn (Frager), a hospital worker, and Amos Mefford Hanks, an itinerant cook. His mother's family, originally surnamed "Fraga", was entirely Portuguese, while his father was of mostly English ancestry. Tom grew up in what he has called a "fractured" family. He moved around a great deal after his parents' divorce, living with a succession of step-families. No problems, no alcoholism - just a confused childhood. He has no acting experience in college and credits the fact that he could not get cast in a college play with actually starting his career. He went downtown, and auditioned for a community theater play, was invited by the director of that play to go to Cleveland, and there his acting career started.

        Ron Howard was working on Splash (1984), a fantasy-comedy about a mermaid who falls in love with a business executive. Howard considered Hanks for the role of the main character's wisecracking brother, which eventually went to John Candy. Instead, Hanks landed the lead role and the film went on to become a surprise box office success, grossing more than $69 million. After several flops and a moderate success with the comedy Dragnet (1987), Hanks' stature in the film industry rose. The broad success with the fantasy-comedy Big (1988) established him as a major Hollywood talent, both as a box office draw and within the film industry as an actor. For his performance in the film, Hanks earned his first Academy Award nomination as Best Actor.

        Hanks climbed back to the top again with his portrayal of a washed-up baseball legend turned manager in A League of Their Own (1992). Hanks has stated that his acting in earlier roles was not great, but that he subsequently improved. In an interview with Vanity Fair, Hanks noted his "modern era of movie making ... because enough self-discovery has gone on ... My work has become less pretentiously fake and over the top". This "modern era" began for Hanks, first with Sleepless in Seattle (1993) and then with Philadelphia (1993). The former was a blockbuster success about a widower who finds true love over the radio airwaves. Richard Schickel of Time magazine called his performance "charming", and most critics agreed that Hanks' portrayal ensured him a place among the premier romantic-comedy stars of his generation.

        </p>
      </div>
      <div class="col-sm-4 main-paragraph">
        <img src="https://www.gannett-cdn.com/presto/2020/07/09/USAT/b850c175-4d38-49fe-9bf7-6950c37657ab-tom_hanks_67.JPG" alt="Tom hanks">
      </div>

    </div>
  </div>

  <div class="mt-2 pt-5 movies">
    <h3 class="border-bottom"><a class="ok" href="#">Movies</a></h3>
    <div class="card " style="width: 18rem;">
      <a href="#"><img src="#" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">year:  - Rate: /10</p>
        <a href="#" class="btn stretched-link">See more</a>
      </div>
    </div>
  </div>


{% endblock content %}
