{% extends "layout.html" %}

{% block nav %}
  <li class="nav-item ">
    <a class="nav-link" href="{{ url_for('home') }}">Home </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('movies') }}">Movies <span class="sr-only">(current)</span></a>
  </li>
{% endblock nav %}

{% block content %}

  <div class="mt-2 pt-5 movies">
    <h3 class="border-bottom movies-title">Movies <img src="https://image.flaticon.com/icons/png/512/31/31087.png" width="40" alt=""></h3>

    <div class="row justify-content-center">
      {% for row in data %}
        <div class="card m-3" style="width: 18rem;">
          <a href="#"><img src="{{ row[2] }}" class="card-img-top" alt="{{ row[2] }}"></a>
          <div class="card-body">
            <h5 class="card-title">{{ row[1] }}</h5>
            <p class="card-text">year: {{ row[3] }}  - Rate: {{ row[5] }}/10</p>
            <a href="{{ url_for('movie', name=row[1]) }}" class="btn stretched-link">See more</a>
          </div>
        </div>
      {% endfor %}
    </div>


  </div>


{% endblock content %}
